<div class="flex items-center justify-center h-full">
  <div class="card glass w-full max-w-3xl rounded-lg overflow-hidden shadow-lg">
    <div class="card-body p-6">
      <form (ngSubmit)="onSubmit()" class="space-y-4">
        <div class="flex flex-wrap -mx-4">
          <div class="w-full md:w-1/2 px-4 mb-4">
            <label for="numGuichet" class="block text-sm font-medium text-gray-700">Numéro guichet</label>
            <input type="number" id="numGuichet" name="numGuichet" [(ngModel)]="guichet.num_guichet" class="file-input file-input-bordered file-input-primary w-full" required />
          </div>
          <div class="w-full md:w-1/2 px-4 mb-4">
            <label for="codePostal" class="block text-sm font-medium text-gray-700">Code Postal</label>
            <input type="text" id="codePostal" name="codePostal" [(ngModel)]="guichet.code_postal" class="file-input file-input-bordered file-input-primary w-full" required />
          </div>
        </div>
        <div class="card-actions justify-end">
          <button class="btn btn-active btn-block text-white hover:bg-blue-800 hover:text-gray-300" type="submit" style="background-color: #00008B;">AJOUTER</button>
          <button class="btn btn-active btn-block text-white hover:bg-blue-800 hover:text-gray-300" type="button" style="background-color: #00008B;" routerLink="/admin/guichets">ANNULER</button>
        </div>
      </form>
    </div>
  </div>
</div>
